<!DOCTYPE html>
<html>
  <head>

  	<!-- Essas três próximas linhas foram adicionadas para fazer algumas funcionalidades do bootstrap fundionar i.e. "recomended CDN for bootstrap" >> https://www.bootstrapcdn.com -->
   	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>MyApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- NAVBAR do exemplo do site -->
<%= render '/layouts/header' %>

  <div class="container">
  	<body>
    	<%= yield %>
  	</body>
  </div>

<%= render '/layouts/footer' %>

</html>
